<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="ie ie8_lt"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html><![endif]-->

<head>
<template file="Public/block_meta.html"/>
<template file="Public/block_jscss.html"/>
</head>

<body class="P-productview" >
<div class="g-all">
  <template file="Public/block_header.html"/>
  <!--banner-->
  <div class="m-banner">
    
  </div>
  <div class="m-menubar">
    <div class="container">
      <ul class="m-menu">
        <li class="active"><a href="{:U('Products/lists')}">产品中心</a></li>
        <li><a href="{:U('Products/ebooklist')}">产品画册</a></li>
        <li><a href="{:U('Products/effects')}">空间效果图</a></li>        
      </ul>
      <ol class="breadcrumb hidden-xs">
        <li><a href="/">首页</a></li>
        <li><a href="{:U('Product/lists')}">产品中心</a></li>        
      </ol>
    </div>
  </div>
  <!--./m-menubar-->
  <div class="g-mainer ">
    <div class="m-product-box">

      <div class="container">
 
          <div class="m-product-showpic ">
            <volist name="datas.model_list" id="vo">
              <div class='item'>
                <div class="photobox-wrap">
                    <a class="photobox" href="{$vo.pic}">
                      <div class="pic ">
                        <img src="{$vo.pic}" data-thumb='{$vo.thumb}'>
                      </div>
                    </a> 
                    <div class="info"><b>{$vo.model}</b><br><small>{$vo.size} mm</small></div>
                </div>
              </div>
            </volist>
                    
             

          </div>
          <!--/产品图片-->
         

          <div class="m-product-info">
            <h3>{$datas.ProductNameCH}</h3>
            <div class="text"><p ><?php echo str_replace(array(' ','&nbsp;'),'',strip_tags($datas['catInfo']['SortDescCH']));?>

              <!-- 三维立体质感，砖面细腻自然，品位高贵。凌空数码喷墨打印，纹理生动，图案高清。超耐磨，高硬度【釉面硬度最高可达莫氏6级，耐磨性最高可达4级（6000转）】 --></p>
              <baidushare />
            </div>
            <div class="info">
              <h1>{$datas.model_list.0.model}</h1>
              <dl>
                <dt>产品类别</dt>
                <dd>{$datas.catInfo.SortNameCH} / {$datas.bigCate.SortNameCH}</dd>
              </dl>
              <dl>
                <dt>品名</dt>
                <dd>{$datas.ProductNameCH}</dd>
              </dl>
               <dl>
                <dt>主要型号</dt>
                <dd>{$datas.model_list.0.model}</dd>
              </dl>
              <dl>
                <dt>主要规格</dt>
                <dd>{$datas.model_list.0.size} mm</dd>
              </dl>
              <dl>
                <dt>手机查看</dt>
                <dd><img class="qcode" src="http://qr.liantu.com/api.php?text=<?php echo urlencode('http://#' . U('Products/shows',array('id'=>$datas['ID']))); ?>" width='98'></dd>
                <!-- <dd><img class="qcode" src="http://qr.liantu.com/api.php?text=<?php echo str_replace('&', '%26', 'http://#' . U('Products/shows',array('id'=>$datas['ID']))); ?>" width='98'></dd> -->
               
              </dl>        
            </div>
          </div>
          <!-- /m-product-info -->
      </div>

    </div>
    <!-- /m-product-box -->
    <div class="m-product-models m-chbox"> 
        <div class="container">
          <div class="hd ">
            <h3><i class="fa fa-cube"></i>本套产品包含型号：</h3>
          </div>
          <div class="bd row ">
            <ul class="m-list-products ">
              <volist name="datas.model_list" id="vo">
                <li class="col-lg-3 col-sm-4 col-xs-6 " data-id="{$vo.ID}">
                  <a  href="{$vo.pic}" title="{$vo.model}">
                      <div class="photobox-wrap">
                          <div class="photobox photobox-product">
                            <div class="pic ">
                              <img src="{$vo.thumb}">
                            </div>
                            
                          </div>
                          <div class="info">                        
                            <p class="proModel">
                                <b class="first"><span>{$vo.model}</span> </b>
                            </p> 
                            <p class="size">
                                <span>{$vo.size} mm</span> 
                            </p>                         

                          </div>

                      </div>
                      
                  </a>
                </li>
              </volist>  
            </ul>
          </div>          
        </div>
    </div>
    <!-- /m-product-models -->
    <?php if($datas['effects']){ ?>
    <div class="m-product-effects m-chbox"> 
        <div class="container">
          <div class="hd ">
            <h3><i class="fa fa-photo"></i>空间效果</h3>
          </div>
          <div class="bd row ">
            <ul class="m-list-products ">

              <volist name="datas.effects" id="vo">
                <li class="col-lg-3 col-sm-4 col-xs-6 " data-id="{$vo.ID}">
                  <a  href="{$vo.BigPic}" title="{$vo.EffectNameCH}">
                      <div class="photobox-wrap">
                          <div class="photobox photobox-product">
                            <div class="pic ">
                              <img src="{$vo.SmallPic}">
                            </div>
                            
                          </div>
                          <div class="info">
                            <p class="title">
                              空间类型：<b>{$vo.roomtype}</b>
                            </p>
                            <p class="model" title="<?php echo str_replace('_','、',$vo['ProductModel']) ; ?>">
                                相关型号：<b  > <?php echo str_replace('_','、',$vo['ProductModel']) ; ?> </b>
                            </p>                       

                          </div>

                      </div>
                      
                  </a>
                </li>
              </volist>  
            </ul>
          </div>          
        </div>
    </div>
    <!-- /m-product-effects -->
    <?php }?>

    <!-- <div class="m-product-reckon m-chbox">
      <div class="container">
        <form id="jxqForm" onsubmit="return false">
        <div class="hd">
            <h3><i class="fa fa-calculator"></i>瓷砖(地砖)计算工具</h3>
          </div>
          <div class="bd row">
            <div class="col-sm-7">
              <div class="putCon ">
                <dl class="dl_1">
                  <dt>请输面积信息</dt>
                  <dd>
                      <p>面积长度<input class="in form-control input-sm" name="room_long">米</p>
                      <p>面积宽度<input class="in form-control input-sm" name="room_width">米</p>
                    </dd>
                </dl>
                <dl class="dl_2">
                  <dt>请输入配备的单块瓷砖规格</dt>
                  <dd>
                      <p>瓷砖长度<input class="in form-control input-sm" name="floorbrick_long">毫米</p>
                      <p>瓷砖宽度<input class="in form-control input-sm" name="floorbrick_width">毫米</p>
                      <p>
                        <span style="color:#B15236; font-size:0.9em">或选择当前砖规格</span>
                        <select class="in2 form-control input-sm" name="bricktype" onchange="autoinput(this.options[this.selectedIndex].value)">
                            <option selected="" value="300X300">选择规格</option> 
                                                                  <option value="800X400">800X400</option>
                                                                    <option value="400X400">400X400</option>
                                                                    <option value="400X50">400X50</option>
                                                                    <option value="400X95">400X95</option>
                                                                    </select>
                      </p>
                    </dd>
                </dl>
              </div>
              <div class="resultCon ">
                  <div class="result">
                    <button class="btn btn-default" type="reset"><i class="fa fa-undo"></i> 重置</button>
                    <button class="btn btn-primary btn_js" onclick="floor_brick(this.form)"> 計 算 <i class="fa fa-chevron-circle-right"></i></button>
                    <b class="b1">你需要的瓷砖数量是</b><input class="in3 form-control input-lg" name="floorbricknum" maxlength="10" readonly=""><b class="b2">片</b>
                  </div>
              </div>
              
            </div>
 
            <div role="alert" class="alert alert-warning  col-sm-5" id="od-tips-save">
                  <p><b>郑重声明：</b></p>
                  <p>该计算器提供的结果仅供参考。购买时请按实地面积计算。</p>
                  <p>本工具计算公式（1平米÷1片砖的面积=每平米多少块数）</p>
            </div>                 
   
              
        </div>
          </form>
      </div>
     </div> -->
     <!-- /m-product-reckon -->
     <div class="container">
      <baidushare class="pull-right" attr='style="margin-top:10px"' />  
     </div>
     
    
  </div>
  <!--./mainer-->

    <script type="text/javascript">
      $(function() {
        if(getBrowserVersion()!=''&&getBrowserVersion()<9){                
          $('.m-product-showpic  .item').each(function(){
            var $img = $(this).find('img');
            var $pic = $(this).find('.pic');
            if($img[0].complete){
              var p_w = $img.width();
              var p_h = $img.height();
              $pic.css({'marginLeft':-p_w/2,'marginTop':-p_h/2})
            }
          })
        }

        if($('.m-product-showpic  .item').length>1){
          var $owl_showPic = $('.m-product-showpic ');
          var model_list =  <?php echo json_encode($datas['model_list']); ?> ;
           var $dot = {};
           var $owlDots = {};
           var $w_owlCtr = {};
           var w_mg = 0
           var w_dot = 40
           var w_ctr_pl = 30
          $owl_showPic.on('initialized.owl.carousel',  function(e) {
             $owlDots = $owl_showPic.find('.owl-dots');
             $dot = $owlDots.find('.owl-dot')
            var dotLen =  $dot.length
            
            w_mg =  parseInt($dot.eq(0).css('marginLeft'))  + parseInt($dot.eq(0).css('marginRight'));
            $owlDots.width((w_dot+w_mg)*dotLen+4)
            $owlCtr = $owlDots.parent('.owl-controls')
     
            $dot.each(function(i){
              var html = '<img src="'+model_list[i].thumb+'">';
              $(this).html(html).attr('title',model_list[i].model);
            });


            if($owlDots.width() > $owlCtr.innerWidth()){
              var dragging = false;
              var iX, iY;
              $owlDots.on({
                mousedown:function(e){
                  $owlDots.addClass('dragging')
                    dragging = true;
                    iX = e.clientX - ($owlDots.offset().left - $owlCtr.offset().left)  ;                    
                    this.setCapture && this.setCapture();
                },
                mousemove:function(e){
                  if (dragging) {
                    var e = e || window.event;
                    var oX = e.clientX - iX;
                    var oY = e.clientY - iY;
                    $owlDots.css({"left":oX + "px"});
                    return false;
                  }
                },
                mouseup:function(e){
                  if (dragging) {
                    if($owlDots.offset().left - $owlCtr.offset().left > 0){
                      $owlDots.animate({"left":w_ctr_pl},1000)
                    }
                    var w_diff = ($owlDots.offset().left+$owlDots.width()) - ($owlCtr.offset().left+$owlCtr.width()+w_ctr_pl)
                    if( w_diff < 0){
                      $owlDots.animate({"left":$owlDots.position().left-w_diff },1000)
                    }
                    $owlDots.removeClass('dragging')
                    dragging = false;
                    $owlDots[0].releaseCapture();
                    e.cancelBubble = true;
                  }
                }
              })
            }

          })
          $owl_showPic.on('translated.owl.carousel',  function(e) {
            if($owlDots.width() > $owlCtr.innerWidth()){
              var $active = $owlDots.find('.active');
              if($active.offset().left - ($owlCtr.offset().left+w_ctr_pl) < 0){
                $owlDots.animate({"left":w_ctr_pl-$active.position().left+4},400)
              }
              var w_diff = ($active.offset().left+w_dot+w_mg+4)  - ($owlCtr.offset().left+$owlCtr.width()+w_ctr_pl);
              if( w_diff > 0){                      
                $owlDots.animate({"left":$owlDots.position().left-w_diff},400)
              }

            }
          })
          $owl_showPic.owlCarousel({
              items: 1,
              autoplay: false,
              lazyLoad:true,
              nav: true,
              navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>']
           
          });
        
          // $('.m-product-showpic  ').owlCarousel.('afterMove',function(){
          //   console.log(222222)
          // })
        }
      });

      function autoinput(val){
        $("input[name='floorbrick_long']").val(val.split("X")[0]);
        $("input[name='floorbrick_width']").val(val.split("X")[1]);
      }

    </script>

  <link rel="stylesheet" href="__CSS_PATH__/Common/jquery-rebox.css" >
  <script src="__JS_PATH__/Common/jquery-rebox.js"></script>
  <script type="text/javascript">
  $(function(){
    $('.m-product-showpic').rebox({ selector: '.photobox' });     
    $('.m-list-products').rebox({ selector: 'a' });     
  })
  </script>

  <template file="Public/block_footer.html"/>
</div>
</body>
</html>